{% extends 'blog/base.html' %}

{% block content %}
	<div class="post">
		{% if user.is_authenticated %}
			<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}
		<h1>{{ post.title }}</h1>
		{% if post.published_date %}
			<div class="date">
				{{ post.published_date }}
			</div>
		{% endif %}
		{% if post.detail_image %}
			<div class="row">
				<div class="col-xs-8">
					<p class="post-text">{{ post.post_text | linebreaksbr }}</p>
				</div>
				<div class="col-xs-4">
					<img class="detail-image" src="{{ post.detail_image.url }}">
				</div>
			</div>
			
		{% endif %}
	</div>
	{% if post.extra_img_one %}
			<div class="row">
				<div class="col-xs-3">
					<img class="extra-image" src="{{ post.extra_img_one.url }}">
				</div>
				<div class="col-xs-3">
					<img class="extra-image" src="{{ post.extra_img_two.url }}">
				</div>
				<div class="col-xs-6"></div>
			</div>
			{% endif %}
{% endblock %}